<!DOCTYPE html>
<html>
  <head>
    <title>IT-Project</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
</html>
<body>
  <div class="topnav">
    <a class="active" href="/authhome">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/auth/logout">Log Out</a>
</div>
  <div class="container-1">
    <div class="row-1">
      <div class="column-1">
        <div class="container">
          <p id="text-1">YOUR COURSE</p>
          <p id="text-1" style="display:inline;padding-left:70px;">TO </p>
          <p id="text-3" style="display:inline;">SUCCESS</p>
          <button style="display:none;" class="btn" type="submit">Register</button>
          {{!-- <button class="btn" type="submit" onclick=" window.location.href = '/coursecards' ;">Check out courses!</button> --}}
          <a class="btn" href="/authcoursecards" style="margin-top:100px;padding:10px;text-decoration:none;margin-left:300px;">Check out courses!</a> 
        </div>
      </div>
      <div class="column-1">
        <div class="container-2">
          <img src="/assets/3784896.jpg" width="735px" height="500px">
        </div>
      </div>
    </div>
  </div>
  <div class="container-3">
    <div class="container-text">
      <p>Achieve heights with Coursent</p>
    </div>
    <div class="row-3">
      <div class="column-3">
        <div class="container-4">
          <img src="./assets/add.png" width="70px" height="70px">
        </div>
      </div>
      <div class="column-3">
        <div class="container-4">
          <img src="./assets/notepad.png" width="70px" height="70px">
        </div>
      </div>
      <div class="column-3">
        <div class="container-4">
          <img src="./assets/chat.png" width="70px" height="70px">
        </div>
      </div>
      <div class="column-3">
        <div class="container-4">
          <img src="./assets/edit.png" width="70px" height="70px">
        </div>
      </div>
    </div>
    <div class="row-2">
      <div class="column-2">
        <div class="p-text">
          <p>Start a new Course</p>
        </div>
      </div>
      <div class="column-2">
        <div class="p-text">
          <p>Course Stream</p>
        </div>
      </div>
      <div class="column-2">
        <div class="p-text">
          <p>Discussion Box</p>
        </div>
      </div>
      <div class="column-2">
        <div class="p-text">
          <p>Edit Course Content</p>
        </div>
      </div>
    </div>
  </div>
  <div class="contianer-5">
    <div class="container-head">
      <h1>About</h1>
    </div>
    <div class="container-para">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
         It has survived not only five centuries, but also the leap into electronic typesetting, 
         remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
         sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
          Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
  <div class="container-6">
    <div class="row-4">
      <div class="container-tail">
        <h1 >Group Members</h1>
      </div>
   </div>
    <div class="row-4">
      <div class="column-4">
          <img class="circular-image" src="./assets/Anuj1.jfif" width="300px" height="300px">
      </div>
      <div class="column-4">
          <img class="circular-image" src="./assets/Vikrant.jpeg" width="300px" height="300px">
      </div>
      <div class="column-4">
        <img class="circular-image" src="./assets/yatharth.jpeg" width="300px" height="300px"> 
      </div>
    </div>
    <div class="row-4">
      <div class="column-4">
        <div class="p-text">
          <p>Anuj Pillai</p>
          <p>201952205</p>
        </div>
      </div>
      <div class="column-4">
        <div class="p-text">
          <p>Vikrant Kumar</p>
          <p>201952240</p>
        </div>
      </div>
      <div class="column-4">
        <div class="p-text">
          <p>Yatharth Solanki</p>
          <p>201952241</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Group Number : 13</p>
  </div>
  </body>
