    <link rel="stylesheet" href="/css/course-cards.css">
    <div class="wrapper">
        <h1>Courses</h1>
        <div class="cols">
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <a href="/coursestream">
                      <div class="container">
                          <div class="front" style="background-image: url(./assets/ai.jpg)">
                              <div class="inner">
                                    <p>Artificial Intelligence</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                                <a href="course-stream.html">
                                    <p>View More</p>
                                </a>
                              </div>
                          </div>
                      </div>
                      </a>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(./assets/ml.jpg)">
                              <div class="inner">
                                  <p>Machine Learning</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(./assets/ds.jpg)">
                              <div class="inner">
                                  <p>Data Science</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(./assets/wd.webp)">
                              <div class="inner">
                                  <p>Web Development</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(./assets/ad.jpg)">
                              <div class="inner">
                                  <p>Android Development</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(./assets/py.jpg.crdownload)">
                              <div class="inner">
                                  <p>Python</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner" style="background-image: url(./assets/py.jpg)">
                                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
              </div>
       </div>



<!-- <!DOCTYPE html>
<html>
  <head>
    <title>IT-Project</title>
     <meta http-equiv="refresh" content="5" > 
    <link rel="stylesheet" href="course-cards.css">
  </head>
</html>
<body>
    <div class="container-1">
        <div class="row-1">
            <div class="column-1">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="./assets/ai.jpg" alt="Avatar" style="width:100%;height: 200px;">
                            <div class="container">
                                <h4><b>Artificial Intelligence</b></h4> 
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <h1>Description</h1> 
                            <p>Lorem ipsum dolor sit amet consectetur 
                                adipisicing elit. Accusamus repellat 
                                incidunt provident nihil deleniti facilis 
                                adipisci laboriosam? Sed, vero dignissimos 
                                eaque odit laborum ratione temporibus 
                                excepturi,hic neque placeat dolorum?</p> 
                        </div>
                    </div>
                </div>
            </div>  
            <div class="column-1">
                <div class="card">
                    <img src="./assets/ml.jpg" alt="Avatar" style="width:100%;height: 200px;">
                    <div class="container">
                        <h4><b>Machine Learning</b></h4> 
                    </div>
                </div>
            </div>
            <div class="column-1">
                <div class="card">
                    <img src="./assets/ds.jpg" alt="Avatar" style="width:100%;height: 200px;">
                    <div class="container">
                        <h4><b>Data Science</b></h4> 
                    </div>
                </div>
            </div>
            <div class="column-1">
                <div class="card">
                    <img src="./assets/wd.webp" alt="Avatar" style="width:100%;height: 200px;">
                    <div class="container">
                        <h4><b>Web Development</b></h4> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row-1">
            <div class="column-1">
                <div class="card">
                    <img src="./assets/ad.jpg" alt="Avatar" style="width:100%;height: 200px;">
                    <div class="container">
                        <h4><b>Android Development</b></h4> 
                    </div>
                </div>
            </div>
            <div class="column-1">
                <div class="card">
                    <img src="./assets/dl.jpg" alt="Avatar" style="width:100%;height: 200px;">
                    <div class="container">
                        <h4><b>Deep Learning</b></h4> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body> --> -->