<!DOCTYPE html>
<html>
  <head>
    <title>IT-Project</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
</html>
<body>
  <div class="topnav">
    <a class="active" href="/home">Home</a>
    <a href="/auth/google">
      <img src="/assets/google.png" width="13px" height="13px">
      Sign In with Google
    </a>
</div>
  <div class="container-1">
    <div class="row-1">
      <div class="column-1">
        <div class="container">
          <p id="text-1">YOUR COURSE</p>
          <p id="text-1" style="display:inline;padding-left:70px;">TO </p>
          <p id="text-3" style="display:inline;">SUCCESS</p>
          <button class="btn" type="submit" onclick=" window.location.href='/auth/google' ;">
            <img src="/assets/google.png" width="13px" height="13px">
            Sign In with Google
          </button>
          <button class="btn" type="submit" onclick=" window.location.href = '/coursecards' ;">Check out courses!</button>
          {{!-- <a class="btn" href="/coursecards">Check out courses!</a>  --}}
        </div>
      </div>
      <div class="column-1">
        <div class="container-2">
          <img src="/assets/3784896.jpg" width="735px" height="500px">
        </div>
      </div>
    </div>
  </div>
  <div class="container-3">
    <div class="container-text">
      <p>Achieve heights with Coursent</p>
    </div>
    <div class="row-3">
      <div class="column-3">
        <div class="container-4">
          <img src="./assets/add.png" width="70px" height="70px">
        </div>
      </div>
      <div class="column-3">
        <div class="container-4">
          <img src="./assets/notepad.png" width="70px" height="70px">
        </div>
      </div>
      <div class="column-3">
        <div class="container-4">
          <img src="./assets/chat.png" width="70px" height="70px">
        </div>
      </div>
      <div class="column-3">
        <div class="container-4">
          <img src="./assets/upload.png" width="70px" height="70px">
        </div>
      </div>
    </div>
    <div class="row-2">
      <div class="column-2">
        <div class="p-text">
          <p>Start a new Course</p>
        </div>
      </div>
      <div class="column-2">
        <div class="p-text">
          <p>Course Stream</p>
        </div>
      </div>
      <div class="column-2">
        <div class="p-text">
          <p>Discussion Box</p>
        </div>
      </div>
      <div class="column-2">
        <div class="p-text">
          <p>Upload resources</p>
        </div>
      </div>
    </div>
  </div>
  <div class="contianer-5">
    <div class="container-head">
      <h1>About</h1>
    </div>
    <div class="container-para">
      <p>Coursent is a course content management system. It is an online learning platform used either to provide a digital supplement for a traditional classroom that meets regularly in person or to host an online course over the internet.

Here a user can create a new course as well as view other courses. Every course created will follow a week-wise schedule for updates regarding any course, which would be visible in the course stream section. Also every course has its attached discussion channel where any student following the course can resolve his/her doubts parallely with the course creator. Furthermore a user can also upload videos or pdf resources weekly.

It provides google based sign in/login feature for ease of access and user security. The website model is thus divided into two parts : guest and authorized user. If a user is logged in he/she can view all the pages and can make full use of all the features of the website. However a user can still view the created courses and get the overview of the website without signing in.

The database part involves users, sessions and courses. Everytime a new user signs in his/her information would be updated into the database in the user schema. We have also implemented sessions so that a user can stay logged in whenever he visits the website again. The sessions of each user are stored in the sessions schema of the database. Everytime any user creates a new course, all the details regarding that particular course with the user id will be saved in the courses schema of the database.

      </p>
    </div>
  </div>
  <div class="container-6">
    <div class="row-4">
      <div class="container-tail">
        <h1 >Group Members</h1>
      </div>
   </div>
    <div class="row-4">
      <div class="column-4">
          <img class="circular-image" src="./assets/Anuj1.jfif" width="300px" height="300px">
      </div>
      <div class="column-4">
          <img class="circular-image" src="./assets/Vikrant.jpeg" width="300px" height="300px">
      </div>
      <div class="column-4">
        <img class="circular-image" src="./assets/yatharth.jpeg" width="300px" height="300px"> 
      </div>
    </div>
    <div class="row-4">
      <div class="column-4">
        <div class="p-text">
          <p>Anuj Pillai</p>
          <p>201952205</p>
        </div>
      </div>
      <div class="column-4">
        <div class="p-text">
          <p>Vikrant Kumar</p>
          <p>201952240</p>
        </div>
      </div>
      <div class="column-4">
        <div class="p-text">
          <p>Yatharth Solanki</p>
          <p>201952241</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Group Number : 13</p>
  </div>
  </body>
